/* body {
    background: url('src/background.svg');

} */

/* .element {
  background-image: url('src/background.svg');
} */
#home {
    clip-path: url(#cache);
  }

  #red {
    fill: none;
    opacity: 0.15;
    stroke: #CE1B5F;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  #blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  #light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
      }

  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.2;
   }
    100% {
      opacity: 0.15;
   }
      }


  /*TODO: Fix this */
  #game {
    position: fixed;
    top: 10%
  } 
  
  .Gamespace {
    position: fixed;
    top: 8%
  }

  .input {
    position: fixed;
    top: 5%;
    left: 40%;
    /* z-index: 9999999%; */
  }

  .history {
    position: fixed;
    left: 1%;
    top: 40%;
    z-index: 999
  }

  .dropdown {
    position: fixed;
    top: 5%;
    left: 80%;
    float: left;
    z-index: 99;
  }

  .palyerInfo {
    position: fixed;
    left: 1%;
    z-index: 3;
  }

  .version {
    position: fixed;
    z-index: 2;
    left: 45%;
    top: 97%
  }

  /* .newGame {
    position: fixed;
    left: 80%;
    top: 20%;
    z-index: 9999999;
  }

  .rules {
    position: fixed;
    left: 80%;
    top: 23%;
    z-index: 9999999;
  } */

  .bu {
    position: fixed;
    left: 80%;
    top: 23%;
    z-index: 2;
  }

  .rules {
    position: fixed;
    z-index: 99999999999999999999999999999999999999999999;
    left: 80%;
    top: 37%;
  }

  .newGame {
    position: fixed;
    left: 80%;
    top: 32%;
    z-index: 2;

  }
  .Resignation {
    position: fixed;
    left: 80%;
    top: 22%;
    z-index: 2;

  }

  .Draw {
    position: fixed;
    left: 80%;
    top: 27%;
    z-index: 2;

  }

  .Save {
    position: fixed;
    left: 80%;
    top: 32%;
    z-index: 2;

  }

  /* .Resignation {
    position: fixed;
    left: 80%;
    top: 32%;
    z-index: 2;

  } */

  /* .body {
    background-image: url("./img/4f1eae6b34ef4bfd5d5eb0245def29b5.jpg");
    background-color: cornflowerblue;
    position: fixed;


  }

  :root {
    background-color: cornflowerblue
  } */

  /* .all {
    background-color: cornflowerblue;

  } */


